*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 84px 46px 84px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    }

.navigation{
    display: flex;
    align-items: center;
    gap: 5px;
}

.navigation a{
    font-size: 14px;
    color: #262626;
    font-weight: 700;
    padding: 8px 32px;
    transition: .3s;
    border-radius: 40px;
}

.navigation a:hover{
    background-color: #4CE0D7;
    
}