*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 84px 46px 84px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    }

.navigation{
    display: flex;
    align-items: center;
    gap: 5px;
}

.navigation a{
    font-size: 14px;
    color: #262626;
    font-weight: 700;
    padding: 8px 32px;
    transition: .3s;
    border-radius: 40px;
}

.navigation a:hover{
    background-color: #4CE0D7;
    
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


   

.sectionone{
    display: flex;
    justify-content: center;
    margin-top: 133px;
    padding-bottom: 75px;

}

.fashion-image{
    width: 1272px;
    height: 559px;
    background: url(./assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    color: #FFFFFF;
    transition: 0.3s;
}

.fashion-image{
    transform: scale(1.05);
}

.ventusfashion{
    position: absolute;
    left: 60px;
    top: 220px;
    color: #FFFF;
}


.ventusfashion h3{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.23em;
    margin-bottom: 22px;

}


.ventusfashion h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 19px;
    max-width: 627px;

}

.ventusfashion p{
    font-size: 20px;
    font-family: 400;
    line-height: 1.6;
    max-width: 494px;
    color: #FFFFFF;
}

.ventusfashion h1 span {
    background: linear-gradient(90deg, #4CE0D7, #8BA9F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}